footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
}

@media (min-width: 1024px) {
  footer {
    padding: 40px;
    font-size: 1.2rem;
  }

  .footer__line{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: auto;
  }
}
