header {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 47px;
}

header ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 20px;
}

header ul li {
  font-size: 1rem;
}

header ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

header ul li a:hover {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  header {
    width: 90%;
    padding: 20px 0;
  }

  header ul li a {
    text-transform: none;
    font-size: 1.2rem;
  }

  header ul {
    gap: 40px;
  }
}